@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>带非遗回家</title>
    <link href="~/css/cate.css" rel="stylesheet" type="text/css" />
    <link href="~/css/iscroll.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/list.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/iscroll.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.bundled.min.js"></script>
    <script type="text/javascript" src="~/Scripts/seco-app2.js"></script>
    <script type="text/javascript">
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';

        var myScroll;

        function loaded() {
            myScroll = new iScroll('wrapper', {
                snap: true,
                momentum: false,
                hScrollbar: false,
                onScrollEnd: function () {
                    document.querySelector('#indicator > li.active').className = '';
                    document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
                }
            });

        }
        document.addEventListener('DOMContentLoaded', loaded, false);
    </script>

</head>

<body ng-app="scApp" ng-controller="HomeController">

    <style type="text/css">
        .btn_music {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url('/images/play.png') no-repeat center center;
            background-size: 100% auto;
            position: absolute;
            z-index: 100;
            left: 15px;
            top: 20px;
        }

            .btn_music.on {
                background-image: url("/images/stop.png");
            }
    </style>

    <script type="text/javascript">

        var playbox = (function () {
            //author:eric_wu
            var _playbox = function () {
                var that = this;
                that.box = null;
                that.player = null;
                that.src = null;
                that.on = false;
                //
                that.autoPlayFix = {
                    on: true,
                    //evtName: ("ontouchstart" in window)?"touchend":"click"
                    evtName: ("ontouchstart" in window) ? "touchstart" : "mouseover"

                }

            }
            _playbox.prototype = {
                init: function (box_ele) {
                    this.box = "string" === typeof (box_ele) ? document.getElementById(box_ele) : box_ele;
                    this.player = this.box.querySelectorAll("audio")[0];
                    this.src = this.player.src;
                    this.init = function () { return this; }
                    this.autoPlayEvt(true);
                    return this;
                },
                play: function () {
                    if (this.autoPlayFix.on) {
                        this.autoPlayFix.on = false;
                        this.autoPlayEvt(false);
                    }
                    this.on = !this.on;
                    if (true == this.on) {
                        this.player.src = this.src;
                        this.player.play();
                    } else {
                        this.player.pause();
                        this.player.src = null;
                    }
                    if ("function" == typeof (this.play_fn)) {
                        this.play_fn.call(this);
                    }
                },
                handleEvent: function (evt) {
                    this.play();
                },
                autoPlayEvt: function (important) {
                    if (important || this.autoPlayFix.on) {
                        document.body.addEventListener(this.autoPlayFix.evtName, this, false);
                    } else {
                        document.body.removeEventListener(this.autoPlayFix.evtName, this, false);
                    }
                }
            }
            //
            return new _playbox();
        })();

        playbox.play_fn = function () {
            this.box.className = this.on ? "btn_music on" : "btn_music";
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            playbox.init("playbox");
            /*
            setTimeout(function() {
                // IE
                if(document.all) {
                    document.getElementById("playbox").click();
                }
                // 其它浏览器
                else {
                    var e = document.createEvent("MouseEvents");
                    e.initEvent("click", true, true);
                    document.getElementById("playbox").dispatchEvent(e);
                }
            }, 2000);
            */
        });

    </script>
    <section class="content-box">
        <div class="mainbg" style="background:#7ABDE9;"><img src="~/images/7.jpg" /></div>
        <span id="playbox" class="btn_music" onclick="playbox.init(this).play();"><audio id="audio" loop src="~/images/4.mp3"></audio></span>

        <div class="banner">

            <div id="wrapper">
                <div id="scroller">
                    <ul id="thelist">
                        <li><p>传承之美</p><a href="javascript:void(0)"><img src="~/images/3.jpg" /></a></li>
                        <li><p>传承之美</p><a href="javascript:void(0)"><img src="~/images/4.jpg" /></a></li>
                        <li><p>传承之美</p><a href="javascript:void(0)"><img src="~/images/2.jpg" /></a></li>
                        <li><p>传承之美</p><a href="javascript:void(0)"><img src="~/images/1.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div id="nav">
                <ul id="indicator">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="clr"></div>

        </div>
        @*<div style="z-index:1;position:relative;text-align:center;width:100%;margin: 15px 0 15px 0;">
            <input id="searchkey" style="height: 30px; width: 200px; border-radius: 10px;opacity:0.7;margin-left:10px; padding-left:10px;" type="text" name="name" value="" placeholder="传承人" />
            <a ng-click="search()" href="javascript:void(0)" style="float:right;margin-right:10px;display:block;height: 30px; width: 90px; border-radius: 6px;color:black;font-size:larger;font-weight:600;background-color:white;opacity:0.7;border:solid 2px #808080">&nbsp;搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索&nbsp;</a>
        </div>*@

        <ul class="mainmenu">
            <li><a href="javascript:void(0)" ng-click="changetype('传统技艺')"><p><span>传统技艺</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统美术')"><p><span>传统美术</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统体育')"><p><span>传统体育</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统舞蹈')"><p><span>传统舞蹈</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统戏剧')"><p><span>传统戏剧</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统医学')"><p><span>传统医学</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统音乐')"><p><span>传统音乐</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('传统文学')"><p><span>传统文学</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('民俗')"><p><span>民俗</span></p></a></li>
            <li><a href="javascript:void(0)" ng-click="changetype('曲艺')"><p><span>曲艺</span></p></a></li>
        </ul>
      
        <div class="content">
            <div class="row clearfix content-row" ng-click="modalShow(item.LiteratureExcelId)" ng-repeat="item in videoList">
                <div class="width30">
                    <img src="~/Uploads/sources/{{item.FirstLevel}}/{{item.XiangMuMingCheng}}/{{item.Other1}}.jpg" style="width:121px;height:95px"/>
                </div>
                <div class="width70">
                    <h4 style="color:#420f0f">{{item.XiangMuMingCheng}}</h4>
                    <p>{{item.XiangMuJianJieBiaoZhunBan}}</p>
                </div>
            </div>
        </div>
    </section>

   

    <script type="text/javascript">
        var count = document.getElementById("thelist").getElementsByTagName("img").length;

        var count2 = document.getElementsByClassName("menuimg").length;
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";

        setInterval(function () {
            myScroll.scrollToPage('next', 0, 400, count);
        }, 3500);

        window.onresize = function () {
            for (i = 0; i < count; i++) {
                document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
            }
            document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
        }
    </script>

    <!-- 我的js -->
   
    <style type="text/css">
        .top_bar {
            position: fixed;
            z-index: 900;
            bottom: -18px;
            left: 0;
            right: 0;
            margin: auto;
        }

        /*.top_menu {
            border-top: 1px solid #3D3D46;
            display: block;
            width: 100%;
            height: 48px;
            margin: 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.7);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#524945), to(#48403c), color-stop(60%, #524945));
            background: -o-gradient(linear, 0 0, 0 100%, from(#524945), to(#48403c), color-stop(60%, #524945));
            background: gradient(linear, 0 0, 0 100%, from(#524945), to(#48403c), color-stop(60%, #524945));
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
        }*/

        /*.top_bar .top_menu > li {
            position: relative;
            text-align: center;
            display: inline-block;
            width: 20%;
            float: left;
        }

        .top_menu li:first-child {
            background: none;
        }

        .top_bar .top_menu > li > a {
            height: 48px;
            margin-right: 1px;
            display: block;
            text-align: center;
            color: #FFF;
            text-decoration: none;
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        }

        .top_bar .top_menu > li.home {
            width: 20%;
        }

            .top_bar .top_menu > li.home a {
                height: 66px;
                width: 66px;
                margin: auto;
                border-radius: 60px;
                position: relative;
                top: -22px;
                left: 2px;
                background: url('~/images/home.png') no-repeat center center;
                background-size: 100% 100%;
            }

        .top_bar .top_menu > li > a label {
            overflow: hidden;
            margin: 0 0 0 0;
            font-size: 12px;
            display: block !important;
            line-height: 18px;
            text-align: center;
        }

        .top_bar .top_menu > li > a img {
            padding: 3px 0 0 0;
            height: 24px;
            width: 24px;
            color: #fff;
            line-height: 48px;
            vertical-align: middle;
        }

        .top_bar li:first-child a {
            display: block;
        }

        .top_menu li:last-of-type a {
            background: none;
            overflow: hidden;
        }

        .top_bar .top_menu > li > a:hover, .top_bar .top_menu > li > a:active {
            background-color: #333;
        }*/
    </style>


    @*<div class="top_bar">
            <nav>
                <ul id="top_menu" class="top_menu">
                    <li><a href="http://www.17sucai.com/"><img src="~/images/plugmenu6.png"><label>首页</label></a></li>
                    <li><a href="javascript:void(0)"><img src="~/images/plugmenu5.png"><label>分享</label></a></li>
                    <li class="home"><a href="http://www.17sucai.com/"></a></li>
                    <li><a href="tel:13888888888"><img src="~/images/plugmenu1.png"><label>拨号</label></a></li>
                    <li><a href="javascript:void(0)"><img src="~/images/plugmenu8.png"><label>短信</label></a></li>
                </ul>
            </nav>
        </div>*@
    <div class="copy" style="position: relative; background-color: #ECE5D3; text-align: center; color: #fff; height: 26px; line-height: 26px; font-size: 12px;">
        xxxxxxxxxxxxxx Copyright &copy; 2016
    </div>
</body>
</html>