@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href=" ~/css/vendor/normalize.css" />
    <link rel="stylesheet" href=" ~/css/styles.min.css" />
    <link href="~/img/common/favicon.png" rel="shortcut icon" />
    <link href="~/css/jplist.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        body {
            background: url(../img/image.jpg);
            height: 1247px;
        }
    </style>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="HomeController">

    <!-- main content -->
    <div id="main-content" class="box" style="background: url(../img/image.jpg);height:100%">
        <div class="center">
            <div id="page-content" class="box">

                <div class="box text-shadow">
                    <h1 class="h1-30-normal left">中国xxxxxx</h1>
                </div>

                <!-- demo -->
                <div id="demo" class="box jplist">
                    <!-- ios button: show/hide panel -->
                    <div class="jplist-ios-button">
                        <i class="fa fa-sort"></i>
                        jPList Actions
                    </div>

                    <!-- panel -->
                    <div class="jplist-panel box panel-top">

                        <!-- filter by title -->
                        <div class="text-filter-box">

                            <i class="fa fa-search  jplist-icon"></i>

                            <input data-path=".title"
                                   type="text"
                                   value=""
                                   placeholder="乐器名搜素"
                                   data-control-type="textbox"
                                   data-control-name="title-filter"
                                   data-control-action="filter" />
                        </div>

                        <!-- filter by description -->
                        <div class="text-filter-box">

                            <i class="fa fa-search  jplist-icon"></i>

                            <input data-path=".desc"
                                   type="text"
                                   value=""
                                   placeholder="全文搜索"
                                   data-control-type="textbox"
                                   data-control-name="desc-filter"
                                   data-control-action="filter" />
                        </div>

                        <div class="jplist-drop-down"
                             data-control-type="drop-down"
                             data-control-name="group-filter"
                             data-control-action="filter">
                            <ul>
                                <li><span data-path="default">全部民族</span></li>
                                <li><span data-path=".汉">汉族</span></li>
                                <li><span data-path=".壮">壮族</span></li>
                                <li><span data-path=".满">满族</span></li>
                                <li><span data-path=".回">回族</span></li>
                                <li><span data-path=".苗">苗族</span></li>
                                <li><span data-path=".维吾尔">维吾尔族</span></li>
                                <li><span data-path=".土家">土家族</span></li>
                                <li><span data-path=".彝">彝族</span></li>
                                <li><span data-path=".蒙古">蒙古族</span></li>
                                <li><span data-path=".藏">藏族</span></li>
                                <li><span data-path=".布依">布依族</span></li>
                                <li><span data-path=".侗">侗族</span></li>
                                <li><span data-path=".瑶">瑶族</span></li>
                                <li><span data-path=".朝鲜">朝鲜族</span></li>
                                <li><span data-path=".白">白族</span></li>
                                <li><span data-path=".哈尼">哈尼族</span></li>
                                <li><span data-path=".哈萨克">哈萨克族</span></li>
                                <li><span data-path=".黎">黎族</span></li>
                                <li><span data-path=".傣">傣族</span></li>
                                <li><span data-path=".畲">畲族</span></li>
                                <li><span data-path=".傈僳">傈僳族</span></li>
                                <li><span data-path=".仡佬">仡佬族</span></li>
                                <li><span data-path=".东乡">东乡族</span></li>
                                <li><span data-path=".高山">高山族</span></li>
                                <li><span data-path=".拉祜">拉祜族</span></li>
                                <li><span data-path=".水">水族</span></li>
                                <li><span data-path=".佤">佤族</span></li>
                                <li><span data-path=".纳西">纳西族</span></li>
                                <li><span data-path=".羌">羌族</span></li>
                                <li><span data-path=".土">土族</span></li>
                                <li><span data-path=".仫佬">仫佬族</span></li>
                                <li><span data-path=".锡伯">锡伯族</span></li>
                                <li><span data-path=".柯尔克孜">柯尔克孜族</span></li>
                                <li><span data-path=".达斡尔">达斡尔族</span></li>
                                <li><span data-path=".景颇">景颇族</span></li>
                                <li><span data-path=".毛南">毛南族</span></li>
                                <li><span data-path=".撒拉">撒拉族</span></li>
                                <li><span data-path=".塔吉克">塔吉克族</span></li>
                                <li><span data-path=".阿昌">阿昌族</span></li>
                                <li><span data-path=".普米">普米族</span></li>
                                <li><span data-path=".鄂温克">鄂温克族</span></li>
                                <li><span data-path=".怒">怒族</span></li>
                                <li><span data-path=".京">京族</span></li>
                                <li><span data-path=".基诺">基诺族</span></li>
                                <li><span data-path=".德昂">德昂族</span></li>
                                <li><span data-path=".保安">保安族</span></li>
                                <li><span data-path=".俄罗斯">俄罗斯族</span></li>
                                <li><span data-path=".裕固">裕固族</span></li>
                                <li><span data-path=".乌兹别克">乌兹别克族</span></li>
                                <li><span data-path=".门巴">门巴族</span></li>
                                <li><span data-path=".鄂伦春">鄂伦春族</span></li>
                                <li><span data-path=".独龙">独龙族</span></li>
                                <li><span data-path=".塔塔尔">塔塔尔族</span></li>
                                <li><span data-path=".赫哲">赫哲族</span></li>
                                <li><span data-path=".珞巴">珞巴族</span></li>
                                <li><span data-path=".布朗">布朗族</span></li>
                            </ul>
                        </div>

                        <div class="jplist-drop-down"
                             data-control-type="drop-down"
                             data-control-name="yzfs-filter"
                             data-control-action="filter">
                            <ul>
                                <li><span data-path="default">全部演奏方式</span></li>
                                <li><span data-path=".吹">吹</span></li>
                                <li><span data-path=".拉">拉</span></li>
                                <li><span data-path=".弹">弹</span></li>
                                <li><span data-path=".唱">唱</span></li>
                            </ul>
                        </div>

                        <!-- pagination results -->
                        <div class="jplist-label"
                             data-type="Page {current} of {pages}"
                             data-control-type="pagination-info"
                             data-control-name="paging"
                             data-control-action="paging">
                        </div>

                        <!-- pagination -->
                        <div class="jplist-pagination"
                             data-control-type="pagination"
                             data-control-name="paging"
                             data-control-action="paging">
                        </div>

                    </div>


                    <!-- data -->
                    <div class="list box text-shadow" style="background: white; filter: alpha(opacity:80); opacity: 0.8; height: 1025px; border-radius: 20px;">
                        <!-- item 1 -->
                        <div class="list-item box default" ng-repeat="item in videoList" _whid="{{item.ForExcelId}}">
                            <div class="img left" style="height:190px">
                                <img ng-src="~/Uploads/sources/{{item.YueQiXingZhi_JieGouShiYiTu}}" alt="" title="" />
                            </div>
                            <div class="block right">
                                <p class="date desc">别称:<span ng-bind="item.TiMing_QiTaTiMing"></span></p>
                                <p class="title" style="color:black">
                                    乐器名：<a href="javascript:void(0);" onclick="openDetail($(this).attr('_whid'));"><span style="color: #ff6a00" ng-bind="item.TiMing_ZhengTiMing"></span></a>
                                </p>
                                <p class="desc" style="color: #440e00">
                                    简介：<span ng-bind="item.CaiLuXinXi_BanQuan"></span>
                                </p>
                                <p class="like desc">演奏方式：<span ng-bind="item.LeiBie_YanZouFangShi" class="{{item.LeiBie_YanZouFangShi}}"></span>&nbsp;&nbsp;&nbsp;民族：<span ng-bind="item.MinZuShuXing" class="{{item.MinZuShuXing}}"></span>&nbsp;&nbsp;&nbsp;工艺：<span ng-bind="item.YueQiXingZhi_QiTa"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="box jplist-no-results text-shadow align-center">
                        <p>No results found</p>
                    </div>

                    <!-- ios button: show/hide panel -->
                    <div class="jplist-ios-button">
                        <i class="fa fa-sort"></i>
                        jPList Actions
                    </div>

                    <!-- panel -->
                    <div class="jplist-panel box panel-bottom">

                        <!-- items per page dropdown -->
                        <div class="jplist-drop-down"
                             data-control-type="drop-down"
                             data-control-name="paging"
                             data-control-action="paging"
                             data-control-animate-to-top="true" style="display:none">

                            <ul>
                                <li><span data-number="3"> 3 per page </span></li>
                                <li>
                                    <span data-number="5" data-default="true">
                                        5 perpage
                                    </span>
                                </li>
                                <li><span data-number="10"> 10 per page </span></li>
                                <li><span data-number="all"> view all </span></li>
                            </ul>
                        </div>

                        <!-- pagination results -->
                        <div class="jplist-label"
                             data-type="{start} - {end} of {all}"
                             data-control-type="pagination-info"
                             data-control-name="paging"
                             data-control-action="paging">
                        </div>

                        <!-- pagination -->
                        <div class="jplist-pagination"
                             data-control-animate-to-top="true"
                             data-control-type="pagination"
                             data-control-name="paging"
                             data-control-action="paging">
                        </div>

                    </div>
                </div>
                <!-- end of demo -->
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/vendor/modernizr.min.js"></script>
    <script src="~/Scripts/jplist.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script type="text/javascript">
        $(function () {

        })
    </script>
</body>
</html>
