// Cursor hand
@mixin grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

@mixin grabbing {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}
