/* CSS Document */
*{margin:0; padding:0; font-size:14px; color:#323232; list-style:none; font-family:"\5FAE\8F6F\96C5\9ED1";}
body{ background:url(../img/bj1.png); width:100%;}
#wrap{width:1003px; margin:0 auto;}

a{text-decoration:none; font-size:12px;} 
a:hover{color:#BA2636;text-decoration:none;}

.top{ background:url(../img/top.png); width:100%; height:52px; margin:0px auto;}
.index-nav{ width:100%; margin-top:10px;}
.logo{ float:left; }
.nav{ float:right; margin-top:7px; background:url(../img/nav.png); width:770px; height:50px;}
.nav a{ color:#fff;}
.nav a:hover{color:#BA2636;text-decoration:none;}
.nav ul{ color:#fff; list-style:none; margin-top:17px; margin-left:30px;}
.nav li{display:inline; padding:0 30px; color:#FFF; font-size:12px;}
.banner{ margin-top:20px;}
.index-box{ width:100%; height:auto;}
.index-box-up{ width:100%;}
.box-nav{ width:100%;  margin-top:20px;}
.box-nav-left{ float:left; width:70%;}
.box-nav-right{ float:right; margin-top:50px; font-size:10px; width:20%; text-align:right;}
.index-box-left{ float:left; width:45%;}
.index-box-left img{ margin:0px; padding:0px;}
.index-box-right{ float:right; width:45%;}
.index-box-right img{ margin:0px; padding:0px;}

.box-img img{ float:left; width:30%;}
.box-img p{ float:right;  width:60%;  line-height:1.5em; text-overflow:ellipsis; overflow: hidden; }
.index-news{ margin-left:30px;}
.pic{ width:100%; margin:0px auto; background:url(../img/class1.png); width:100%; height:182px;}
.pic-pic{ float:left; margin-top:20px; margin-left:120px;}
.pic-pic img{ margin:20px;}

.foot{ width:100%; height:150px; background:#4e4236; margin-top:30px;}
.footer{ width:50%; margin:0px auto;}
.foot-text{padding-top:10px; width:70%; margin:0px auto; float:left;}
.foot-text p{ color:#fff; font-size:12px; line-height:25px;}
.foot-img{ float:right; width:30%; text-align:right; margin-top:20px; }
.foot-img p{ float:left; color:#fff; margin-left:160px; font-size:12px;}

.news_list_b {background:#fff; width:100%; margin:0px auto;}
.news_list_b li {list-style-type:none; padding-left:10px; margin:8px; border-bottom:1px dotted #CCC; height:25px; line-height:25px;}
.news_list_b span {float:right; color:#999; font-size:12px; padding-right:10px;}
.news_list_b a:link, .news_list a:visited {text-decoration: none; color: #000;}
.news-pic{ float:left; width:40%; margin:10px;}
.news-text{ float:right; width:47%; font-size:14px; text-align:left; margin:10px; text-indent:2em; margin-left:10px;}

.news_list_c { width:90%; margin:0px auto;}
.news_list_c li {list-style-type:none; padding-left:10px; margin:8px; border-bottom:1px dotted #CCC; height:25px; line-height:25px;}
.news_list_c span {float:right; color:#999; font-size:12px; padding-right:10px;}
.news_list_c a:link, .news_list a:visited {text-decoration: none; color: #000;}
.news-pic{ float:left; width:40%; margin:10px;}
.news-text{ float:right; width:47%; font-size:14px; text-align:left; margin:10px; text-indent:2em; margin-left:10px;}

.page-normal{
	margin-top:10px;
	float:right;
	color:#666;
	text-align:center;
	font-size:0;
}
.page-normal a,.page-normal .page-current,.page-normal .page-prev{
	padding:3px 5px;
	font-size:12px;
	margin-left:10px;
}
.page-normal a{
	border:1px solid #999;
	color:#666;
	text-decoration:none;
}
.page-normal a:hover{
	border:1px solid #4e4236;
	background:#4e4236;
	color:#fff;
}

.page-normal .page-current{
	border:1px solid #4e4236;
	color:#fff;
	background:#4e4236;
}
.page-normal .page-prev{
	border:1px solid #4e4236;
	color:#4e4236;
}

.abouttext{ width:100%; margin:10px auto; border:#f0f0f4 1px solid; background:#fff; border-radius:5px; height:auto; padding:20px 0;}
.abouttext p{ width:90%; margin:10px auto; line-height:25px; text-indent:2em; text-align:center;}
.abouttext p span{ color:#666; font-size:10px; text-align:center;}
.abouttext strong{ color:#333; font-size:18px;}
.abouttext-img{width:90%; margin:10px auto; text-align:center;}
.text p{ text-align:left;}
.abouttext-img img{ margin:10px auto;}
 
.pic-left{ width:25%; float:left; margin-top:20px;}
.pic-right{ width:70%; float:right; }
.pic-left p{ font-size:16px; background:#333; width:100%; height:50px; color:#fff; text-align:center; line-height:50px;}
.pic-right p{ font-size:14px; height:50px; color:#000; line-height:50px;}
.pic-right p strong{ margin-left:50px; font-size:16px;}

.lanrenzhijia{ width:100%; height:auto; margin:0px auto; background:#fff; position:relative;  border-radius:5px; margin-top:10px;}
.lanrenzhijia li{ z-index:2; position:relative; text-align:center; width:100%;  margin:0px auto;}
.lanrenzhijia li a{ color:#666; height:40px; line-height:40px; border-bottom:1px solid #F8F8F8; display:block; text-align:center; text-decoration:none;  width:100%;  margin:0px auto;}
.lanrenzhijia li:hover a{ color:#ccc; text-decoration:none;}
.lanrenzhijia li.on a{color:#000; }
.lanrenzhijia .hover{ width:100%; height:40px; position:absolute; left:-5px; background:#F8F8F8; border-left:5px solid #000;}

.picmain{  width:90%; margin:0px auto; }
.picmain_up{ width:100%; height:200px; margin:0px auto; padding-bottom:15px;}
.picmain_down{ width:100%; height:200px; margin:0px auto; padding-bottom:15px;}
.picmain_pic_left{ width:30%; margin:15px auto; float:left;  text-align:center;}
.picmain_pic{ width:30%; margin:15px auto; float:left;  text-align:center; margin-left:20px; }