.pagination 
{
	font-size: 12px;
	font-weight: bold;
}

.pagination p 
{
	float: left;
	color: #666;
	text-indent: 0;
	padding: 2px 0 0 0;
	margin: 0 2em 0 0;
}

.pagination ul 
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.pagination li 
{
	list-style: none;
	background-color: #fff;
	margin: 0px;
	display: block;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	line-height: 14px;
}
			
.pagination li.ordinary
{
	border: 1px solid #2E6AB1;
	background-color: #FFFFFF;
	color: #666;
	cursor: pointer;
}

.pagination li.disabled
{
	border: 1px solid #DDDDDD;
	padding: 2px 6px 2px 6px;
	color: #ccc;
}

.pagination li.current 
{
	border: 1px solid #2E6AB1;
	padding: 2px 6px 2px 6px;
	background-color: #2E6AB1;
	color: #fff;
}

.pagination li.none 
{
	border: 1px none;
	padding: 2px 6px 2px 6px;
}

.pagination li a 
{
	border: 1px solid #9AAFE5;
	padding: 2px 6px 2px 6px;
	display: block;
	text-decoration: none;
}

.pagination li a:hover 
{
	border: 1px solid #2E6AB1;
	background: #2e6ab1;
	color: #ffffff;
}