body {
    margin: 0;
    color: #edede8;
}

.Upper {
    z-index: 999;
}

.AutomLeaf {
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.AutomLeaffalling {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}

.inFront {
    z-index: 100;
}

.x1 {
    width: 75px;
    height: 75px;
}

.x2 {
    width: 100px;
    height: 100px;
}

.x3 {
    width: 125px;
    height: 125px;
}

.x4 {
    width: 150px;
    height: 150px;
}
