@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - 注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Assets/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/Assets/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/Assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Assets/css/animate.css" rel="stylesheet">
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <script>if (window.top !== window.self) { window.top.location = window.location; }</script>
    <style>
        .logo-h {
            color: #90b6f2;
        }

            .logo-h:hover {
                color: white;
            }
    </style>
</head>
<body style="background: url(../../Assets/img/login-bg.png)0 0 repeat-x;">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <h3 class="logo-name" style="font-size:70px;color:white;">带非遗回家后台管理系统</h3>
            </div>
            <h3 style="margin-top: 80px; color: #a9a9a9">欢迎注册</h3>
            <p>创建后需通过管理员审核方可登录</p>
            <span id="errorMsg" style="display:none;color:red;"></span>
            <form class="m-t" role="form">
                <center>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入用户名" required="" id="name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="请输入密码" required="" id="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="请再次输入密码" required="" id="passwordCon">
                    </div>
                    @*<div class="form-group text-left">
                            <div class="checkbox i-checks">
                                <label class="no-padding">
                                    <input type="checkbox" id="iagree"><i></i> 我同意注册协议
                                </label>
                            </div>
                        </div>*@
                    <button type="button" class="btn btn-primary block full-width m-b" onclick="register();">注 册</button>
                    <p class="text-muted text-center">
                        <small>已经有账户了？</small><a class="logo-h" href="@Url.Action("Login")">点此登录</a>
                    </p>
                </center>
            </form>
        </div>
    </div>
    <!-- 全局js -->
    <script src="~/Assets/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Assets/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- iCheck -->
    <script src="~/Assets/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document)
            .ready(function () {
                $('.i-checks')
                    .iCheck({
                        checkboxClass: 'icheckbox_square-green',
                        radioClass: 'iradio_square-green',
                    });
            });

        var timeo;
        function register() {
            var name = $("#name").val();
            var password = $("#password").val();
            var passwordCon = $("#passwordCon").val();

            if (passwordCon != password) {
                $('#errorMsg').html('两次输入密码不一致').css('display', 'block');
                clearTimeout(timeo);
                timeo = setTimeout(function () {
                    $("#errorMsg").fadeOut();
                }, 3000);
                return;
            }
            $.ajax({
                url: '@Url.Action("Register", "Account")',
                type: "POST",
                cache: false,
                data: { username: name, password: password },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        $('#errorMsg').html('注册成功,即将返回登陆！').css('display', 'block');
                        clearTimeout(timeo);
                        timeo = setTimeout(function () {
                            $("#errorMsg").fadeOut();
                            window.location.href = result.returnUrl;
                        }, 2000);
                    }

                    if (result.code == 400) {
                        //alert(result.message);
                        $('#errorMsg').html(result.message).css('display', 'block');
                        clearTimeout(timeo);
                        timeo = setTimeout(function () {
                            $("#errorMsg").fadeOut();
                        }, 3000);
                    }
                    console.log(result);
                },
                error: function () {
                    alert("服务器未知错误！");
                }
            });
        }
    </script>
</body>
</html>
