@{
    ViewBag.Title = "创建条目-条目管理-资源管理";
}
@section styles_theme_level{

}

<div class="wrapper wrapper-content animated fadeInRight"  >
    <div class="row" >
        <div class="col-sm-12" style="height:650px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>资源管理 <small>条目管理-创建条目</small></h5>
                </div>
                <div class="ibox-content" style="overflow: auto; height:650px;">
                    @using (Html.BeginForm("AddEntryTablePost", "EntryTable", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" id="categoryId" value="@ViewBag.categoryId" name="categoryId" />
                        @Html.Raw(Html.Action("GetAddEntryForm", "EntryTable", new { ViewBag.categoryId }))
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <a class="btn btn-white" href="@Url.Action("Index", "EntryTable", new { @id = ViewBag.categoryId })">取消</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}